HUGGINGFACEHUB_API_TOKEN=your_hugginfacehub_api_token
GROQ_API_KEY=your_groq_api_key
CHROMA_PERSIST_DIR=your_chroma_persist_dir
CHROMA_COLLECTION=your_chroma_collection
COHERE_API_KEY=your_cohere_api_key
EMBED_TOKEN=your_embed_model_token